.flex{
    display: flex;
    justify-content: space-between;
}

.d1{
    background-color: lightpink;
}

.d2{
    background-color: lightpink;
}

.d3{
    background-color: lightpink;
}

.d4{
    background-color: lightpink;
}