p{
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}

.youtube{
    background-color: rgb(33, 33, 33);
    width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.p1{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p2{
    color: rgb(160, 160, 160);
}